BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
ColumnLimit: 120
UseTab: Never

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine

BreakTemplateDeclarations: true

ReflowComments: true
MaxEmptyLinesToKeep: 1

IncludeBlocks: Regroup    
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: '^<CXXCoreAudio/'
    Priority: 2
  - Regex: '^<(CoreAudioTypes|CoreFoundation|AudioToolbox|Foundation|AVFAudio)/'
    Priority: 3
  - Regex: '^<libkern/'
    Priority: 5
  - Regex: '^<[^./>]+>$'
    Priority: 10
  - Regex: '.*'
    Priority:        20
