---
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
---
Language: Cpp

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine

BreakTemplateDeclarations: true

ReflowComments: true
MaxEmptyLinesToKeep: 1

IncludeBlocks: Regroup    
IncludeCategories:
  - Regex: '^".*\.(h|hpp|hh|m|mm)"$'
    Priority: 1
  - Regex: '^<CXXCoreAudio/'
    Priority: 2
  - Regex: '^<(Core[A-Z]+|Foundation|AppKit|UIKit|Cocoa|Audio(Toolbox|Unit)|AVF[A-Z]+|Metal|GameKit|SceneKit|SwiftUI|Combine|QuartzCore|Accelerate)/'
    Priority: 3
  - Regex: '^<(sys|mach|dispatch|objc|os|pthread|libkern|IOKit|xpc|Availability|TargetConditionals)/'
    Priority: 3
  - Regex: '^<[^./>]+>$'
    Priority: 10
  - Regex: '.*'
    Priority:        20
...
